<!-- ================= CONTEÚDO PRINCIPAL ================= -->
    {% extends 'base.html'%}
    {% block conteudoPagina%}
    <main>           
        <div class="container-func-consulta">
            {% if tipo_site == 'nutricionista' %}
                <div class="conteudo-func-consulta">
                    <section class="escolha-modo-consulta">
                        <h2 class="section-title">O que você deseja fazer?</h2>
                        <div class="link-group">
                            <a href="/consulta/minhasconsultas">Quero atender a uma consulta</a>
                        </div>
                    </section>
                </div>  
            {% elif tipo_site == 'paciente' %}
                <div class="conteudo-func-consulta">
                    
                    <section class="escolha-modo-consulta">
                        <h2 class="section-title">O que você deseja fazer?</h2>
                        <div class="link-group">
                            <a href="/consulta/agendar">Quero agendar uma consulta</a>
                            <a href="/consulta/minhasconsultas">Quero ver minhas consultas</button>
                        </div>
                    </section>
                </div>
              
            {% endif%}
           
        </div>
        
     
        
        <div>
            <button id="botao-tema">🌙</button>
        </div>

    </main>
    {% endblock %}
