  <!-- ================= CONTEÚDO PRINCIPAL ================= -->
  {% extends 'base.html'%}
  {% block tituloPagina%}
    <title>Contato</title>
  {% endblock %}
  {% block conteudoPagina%}
  <main>
    <!-- Aqui vai o conteúdo da página inicial -->

    <section class="redes-sociais">
    <h2 class="section-title">Nossas redes Sociais</h2>
      <div class="redes-sociais-grid">
        <div class="rede-social-card">
          <i class='bx bxl-instagram'></i>
          <h3>Instagram</h3>
          <p>Acompanhe as novidades no nosso Instagram!</p>
        </div>
        <div class="rede-social-card">
          <i class='bx bxl-tiktok' ></i>
          <h3>TikTok</h3>
          <p>Acompanhe nossos vídeos curtos!</p>
        </div>
        <div class="rede-social-card">
          <i class='bx bxl-twitter' ></i>
          <h3>X</h3>
          <p>Acesse nossa página no X!</p>
        </div>
        <div class="rede-social-card">
          <i class='bx bxl-whatsapp'></i>
          <h3>Whatsapp</h3>
          <p>Entre em contato conosco!</p>
        </div>
      </div>
    </section>

    <div>
      <button id="botao-tema">🌙</button>
    </div>
  </main>
  {% endblock %}