<!-- ================= CONTEÚDO PRINCIPAL ================= -->
    {% extends 'base.html'%}
    {% block conteudoPagina%}
        <main>           
            <div class="container-func-consulta">
                <div class="conteudo-func-consulta">
                    <section class="container-slider">
                        <div class="controles-slider">
                            <button id="voltar-slider">
                            <i class="fa-solid fa-arrow-left"></i>Voltar
                            </button>
                            <button id="avancar-slider">
                            Avançar<i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                        
                        <form class="form-perguntas">
                            <div class="slider-perguntas">
                               
                                <section id="pergunta-data" class="pergunta">
                                    <h2>Escolha a data e hora de sua consulta</h2>
                                    <div class="conteudo-pergunta">
                                        <div class="calendario">
                                            <div class="menu-calendario">
                                                <div class="mes">
                                                    <button class="seta">
                                                        <i class="fa-solid fa-arrow-left"></i>
                                                    </button>
                                                    <span class="nome-mes">Carregando...</span>
                                                    <button class="seta">
                                                        <i class="fa-solid fa-arrow-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="dias-calendario">
                                               
                                                <button class="data">1</button>
                                                <button class="data">2</button>
                                                <button class="data">3</button>
                                                <button class="data">4</button>
                                                <button class="data">5</button>
                                                <button class="data">6</button>
                                                <button class="data">7</button>
                                                <button class="data">8</button>
                                                <button class="data">9</button>
                                                <button class="data">10</button>
                                                <button class="data">11</button>
                                                <button class="data">12</button>
                                                <button class="data">13</button>
                                                <button class="data">14</button>
                                                <button class="data">15</button>
                                                <button class="data">16</button>
                                                <button class="data">17</button>
                                                <button class="data">18</button>
                                                <button class="data">19</button>
                                                <button class="data">20</button>
                                                <button class="data">21</button>
                                                <button class="data">22</button>
                                                <button class="data">23</button>
                                                <button class="data">24</button>
                                                <button class="data">25</button>
                                                <button class="data">26</button>
                                                <button class="data">27</button>
                                                <button class="data">28</button>
                                                <button class="data">29</button>
                                                <button class="data">30</button>
                                                <button class="data">31</button>
                                            </div>
                                        </div>

                                        <div class="lista-horarios">
                                           
                                        </div>

                                      
                                  
                                    </div>
                                </section>

                                <section id="pergunta-medico" class="pergunta">
                                    <h2>Escolha um nutricionista disponível para (dia e hora escolhidos)</h2>
                                    <ul class="lista-medicos">
                                    <li class="cartao-medico">
                                        <div class="pfp">
                                        <img src="/imagens/foto_perfil/perfil_medico.jpg" alt="">
                                        </div>
                                        <div class="descricao-med">
                                        <h1>Dr Mario</h1>
                                        <h2>Consultorio 3</h2>
                                        <p>Disponível</p>
                                        </div>
                                        <button>Escolher</button>
                                    </li>
                                    <li class="cartao-medico">
                                        <div class="pfp">
                                        <img src="/imagens/foto_perfil/perfil_medico.jpg" alt="">
                                        </div>
                                        <div class="descricao-med">
                                        <h1>Dr Mario</h1>
                                        <h2>Consultorio 3</h2>
                                        <p>Disponível</p>
                                        </div>
                                        <button>Escolher</button>
                                    </li>
                                    <li class="cartao-medico">
                                        <div class="pfp">
                                        <img src="/imagens/foto_perfil/perfil_medico.jpg" alt="">
                                        </div>
                                        <div class="descricao-med">
                                        <h1>Dr Mario</h1>
                                        <h2>Consultorio 3</h2>
                                        <p>Disponível</p>
                                        </div>
                                        <button>Escolher</button>
                                    </li>
                                    <li class="cartao-medico">
                                        <div class="pfp">
                                        <img src="/imagens/foto_perfil/perfil_medico.jpg" alt="">
                                        </div>
                                        <div class="descricao-med">
                                        <h1>Dr Mario</h1>
                                        <h2>Consultorio 3</h2>
                                        <p>Disponível</p>
                                        </div>
                                        <button>Escolher</button>
                                    </li>
                                    <li class="cartao-medico">
                                        <div class="pfp">
                                        <img src="/imagens/foto_perfil/perfil_medico.jpg" alt="">
                                        </div>
                                        <div class="descricao-med">
                                        <h1>Dr Mario</h1>
                                        <h2>Consultorio 3</h2>
                                        <p>Disponível</p>
                                        </div>
                                        <button>Escolher</button>
                                    </li>
                                    <li class="cartao-medico">
                                        <div class="pfp">
                                        <img src="/imagens/foto_perfil/perfil_medico.jpg" alt="">
                                        </div>
                                        <div class="descricao-med">
                                        <h1>Dr Mario</h1>
                                        <h2>Consultorio 3</h2>
                                        <p>Disponível</p>
                                        </div>
                                        <button>Escolher</button>
                                    </li>
                                    <li class="cartao-medico">
                                        <div class="pfp">
                                        <img src="/imagens/foto_perfil/perfil_medico.jpg" alt="">
                                        </div>
                                        <div class="descricao-med">
                                        <h1>Dr Mario</h1>
                                        <h2>Consultorio 3</h2>
                                        <p>Disponível</p>
                                        </div>
                                        <button>Escolher</button>
                                    </li>
                                    <li class="cartao-medico">
                                        <div class="pfp">
                                        <img src="/imagens/foto_perfil/perfil_medico.jpg" alt="">
                                        </div>
                                        <div class="descricao-med">
                                        <h1>Dr Mario</h1>
                                        <h2>Consultorio 3</h2>
                                        <p>Disponível</p>
                                        </div>
                                        <button>Escolher</button>
                                    </li>
                                    <li class="cartao-medico">
                                        <div class="pfp">
                                        <img src="/imagens/foto_perfil/perfil_medico.jpg" alt="">
                                        </div>
                                        <div class="descricao-med">
                                        <h1>Dr Mario</h1>
                                        <h2>Consultorio 3</h2>
                                        <p>Disponível</p>
                                        </div>
                                        <button>Escolher</button>
                                    </li>
                                    </ul>
                                </section>
                                
                                <section id="pergunta-motivo" class="pergunta">
                                    <h2>Conte-nos o motivo do seu agendamento</h2>
                                    <textarea name="" id=""></textarea>
                                </section>
                                
                                <section id="pergunta-resumo" class="pergunta">
                                    <h2>Confirme os dados da consulta</h2>
                                    <div id="resumo-consulta">
                                    <div>Data e hora</div>
                                    <div>Médico responsavel</div>
                                    <div>N consultorio</div>
                                    <div>motivo</div>
                                    </div>
                                </section>
                                

                            </div>
                        </form>
                    </section>
                </div>
            </div>
            
            <div>
                <button id="botao-tema">🌙</button>
            </div>
        </main>
    {% endblock %}
