<!-- ================= CONTEÚDO PRINCIPAL ================= -->
    {% extends 'base.html'%}
    {% block conteudoPagina%}
        <main>           
            <div class="container-func-consulta-medico">
                <img src="/static/imagens/med1.png" class="esboco-medico" alt="">
                <button onclick="trocar_imagem()">Relatório Médico</button>
            </div>

            <div>
                <button id="botao-tema">🌙</button>
            </div>
        </main>
    {% endblock %}